@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #d3bccf;
    --secondaryBackground: #ded5dc;
    --text: #000;
    --purple: #68526e;
    --pink: #9d5d93;
}

body {
    background-color: var(--background);
    color: var(--text);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    background-color: var(--secondaryBackground);
    box-shadow: 7px 7px 9px #0000004f;
}

.details {
    width: 100%;
}

.details h1 {
    font-family: 'Mate';
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 50%;
    height: 10px;
    background-color: var(--pink);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 2px 6px #0000004f;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 16px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
    box-shadow: 4px 4px 9px #0000004f;
}

button {
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    outline: none;
    box-shadow: 4px 4px 9px #0000004f;
}